# Application
NEXT_PUBLIC_APP_NAME=CORELIA Next Boilerplate
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SHOW_HEALTH_URLS=true

# External REST backends
NEXT_PUBLIC_CORE_API_BASE_URL=http://10.100.102.6:7585/api/v1
NEXT_PUBLIC_BILLING_API_BASE_URL=
NEXT_PUBLIC_REPORTING_API_BASE_URL=

# Docker Compose
PORT=1350
APP_PORT=3000
COMPOSE_PROJECT_NAME=corelia-next-boilerplate
APP_NAME=corelia-next-boilerplate
APP_VERSION=1.0.0
HUB_URL=docker.infogerance.d-fi.fr
